/***************享悦页面***************/
/*照片轮换*/
#img_show img {
    display:none;
	width: 100%;
	margin-top: 65px;
}
#img_list {
    list-style: none;
	margin-top: -5%;;
}
#img_list li:first-child {
	position: relative;
	margin-left: 40%;
}
#img_list li,a {
    width: 10px;
    height: 10px;
	border-radius: 10px;
}
#img_list li{
	margin: 0 1%;
    float: left; 
	background-color: lightgray;
}

#img_list .list_selected{
    background-color: #67cbfc;
}
/*推荐*/
.calvin .music-advice {
	margin-top: 3%;
	background: #fff;
	padding: 3% 0;
}
.music-advice .advice-btn {
	background-color: #028dd0;
	color: white;
	padding: 0 20px;
	border-radius: 10px;
	transition: padding 0.1s, background-color 0.1s, color 0.1s;
}
.music-advice .advice-btn:hover {
	background-color: #d5e5ed;
	padding: 1px 23px;
	color: #028dd0;
}
.music-advice .advice-btn:active {
	background-color: #88c2de;
	padding: 2px 25px;
	color: #ffffff;
}
/*图文详细框*/
.img-holders {
	margin-bottom: 20%;
}
.music-advice .img-holder {
	margin-top: 3%;
}
.music-advice .img-holder img {
	width: 100%;
}
.music-advice .img-holder .detail {
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.music-advice .img-holder .detail .auther {
	color: #028dd0;
	font-size: 12px;
	float: left;
	display: block;
	max-width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.music-advice .img-holder .detail span:last-child {
	float: left;
	padding-left: 3px;
	font-size: 12px;
	color: gray;
}
